@charset "UTF-8";


    


body {overflow-X:hidden;}/*가로 스크롤 숨기ㄹ려고*/
.centerbox {width: 1550px;margin: 0 auto;}

header {width: 100%; max-width: 1550px;height: 170px; position: absolute;left: 50%;transform: translateX(-50%);z-index: 7;}
#visual{width: 100%;height: 100vh;background: #6f7f95;}

header h1 {width: 60px;height: 70px;float: left;}
header nav {width:750px;height: 70px;float: left;margin-left: 350px;margin-top:50px;font-family:'Pretendard-SemiBold' ;}

header nav:before {content: "";position: absolute ; width: 100%;height: 0px;background: #6f7f95;top: 120px;transition: 0.3s;}
header nav.on:before {height: 330px;} 


header nav > .gnb > li  {display: inline-block;height: 70px;line-height: 70px;position: relative;}
header nav > .gnb > li > a {color: #fff;font-size: 24px;display: block ;padding: 0 50px;}

header nav li .lnb {position: absolute;width: 260px; left: 50px;transition: 0.3s;opacity: 0;visibility: hidden;}/*비저빌리티 히든 안보이게끔*/
header nav li:hover .lnb {left: 0; opacity: 1;visibility: visible;background: #6f7f95;}/*비저빌리티 비지블 같이 써여함 */

header nav.on li .lnb {left: 0;opacity: 1;visibility: visible;}

header nav li .lnb {padding: 16px 0;text-align: left;}

header nav li .lnb li {height: 45px;line-height: 45px;font-weight: 600;position: relative;}
header nav li .lnb li a {font-size: 18px;display: block;color: #fff;padding: 0 45px;}
header nav li .lnb li::before{content: "";width: 7px;height: 7px;border-radius: 50%;background: #fff;position: absolute;left: 26px;top: 18px;display: none;}
header nav li .lnb li:hover::before{display: block;}




header .hambuger {width: 70px;height: 70px;float: right;position: relative;top: 40px; cursor: pointer;}/*cursor: pointer - 손바닥 커서만들기*/
header .hambuger:before,
header .hambuger:after{content: "";position: absolute;width: 50px;height: 5px;background: #fff; left: 10px; top: 50%;transition: 0.3s;}

header .hambuger::before {margin-top: -10px;}
header .hambuger::after {margin-top: 5px;}

header .hambuger.on:before {margin-top: -2px;transform: rotate(45deg);}
header .hambuger.on:after {margin-top: -2px;transform: rotate(-45deg);}

.prod_intro {writing-mode: vertical-rl;width: 65px;height: 200px;background: #6f7f95;position: fixed;z-index: 10;right: 0;top: 110px;border-radius: 5px 0 0 5px;align-items: center;justify-content: center;gap: 10px;display: flex;}
.prod_intro:hover {background: #ff8383;color: #1d3500;transition: 0.1s;}
.prod_intro p {color: #fff;font-family:'Pretendard-Thin';}
.prod_intro img {width: 24px;height: 28px;}


#visual {width: 100%;height: 100vh;background: blue;overflow: hidden;position: relative;}
#visual::before {content: "";position: absolute;width: 100%;height: 100%;background: rgb(51, 51, 51,13%);}

#visual video {width: 100%;pointer-events: none;} /*{pointer-events: none 마우스를 눌러도 클릭안되도록*/

#visual .textbox {width: 712px;height: 467px;position: absolute;left: 38%;top: 56%;transform:translate(-75%,-50%);
    word-break: keep-all;} /*word-break: keep-all 띄어쓰기 해줌*/
#visual .textbox strong {font-size: 72px;font-weight: 900;font-family:'SBAggroB' ;color: #fff;}
#visual .textbox p {font-size: 28px; color: #fff;font-family:'Pretendard-Medium' ;line-height: 40px;margin-top: 30px;}


@media screen and (max-width:1280px){
    header nav {display: none;}
    
}



/*section*/
#section_box > section {padding:100px 0 170px 0;box-sizing: border-box;}
#section_box > section h2 {font-size: 60px;color: #000000;text-align: center;font-weight: lighter;font-family:'Pretendard-SemiBold' ;line-height: 120px;}
#section_box > section h2 b {font-size: 60px;color: #3d5c72;text-align: center;font-weight: lighter;font-family:'Pretendard-SemiBold' ;}
#section_box > section h2 span {font-size: 24px ; color: #292929;display: block;font-family: 'Pretendard-Light';line-height: 1.3;}


#section1 .cont {gap:25px; display:flex ;justify-content:space-between;margin-top: 20px;} 

#section1 .cont li {width: 500px;height: 550px;background: #000; flex-grow: 0;flex-shrink: 1;position: relative;transition: 0.3s;}
#section1 .cont li::before {content: "";position: absolute;width: 100%;height: 100%;background: #000;opacity: 0.4;}


#section1 .cont li .content {position: absolute;width: 100%;height: 100%;background: linear-gradient(135deg,rgba(172, 188, 255, 0),
    rgba(255, 255, 255, 0));display: flex;flex-direction: column;align-items: center;justify-content: center;}

#section1 .cont li:hover .content {background: linear-gradient(135deg,rgba(61, 91, 112,0.8),
    rgba(255, 255, 255, 0.8));} 

#section1 .cont li .content em {font-size: 48px;color: #fff;font-style: normal;font-weight: bold;height: 74px;}
#section1 .cont li .content p {font-size: 24px;color: #fff;width: 155px;word-break: keep-all;margin-bottom: 0px;text-align: center;transition: 0.3s;}
#section1 .cont li .content a {color: #267af3 ;padding: 13px;background: #fff;font-size: 20px;display: inline-block;opacity: 0;transition: 0.3s;}
#section1 .cont li:hover a {opacity: 1;} 
#section1 .cont li:hover .content p {margin-bottom: 36px;}

#section1 .cont li:nth-child(1) {background: url('../images/section1.png') center;background-size: 100%;} 
#section1 .cont li:nth-child(2) {background: url('../images/section2.png') center;background-size: 100%;}
#section1 .cont li:nth-child(3) {background: url('../images/section3.png') center;background-size: 100%;}

#section1 .cont li:hover {background-size: 110%;}  




#section2 {height:800px;background: url(../images/imag.png) center top; 
    background-attachment:fixed; background-size: cover;}
#section2 .centerbox {display: flex;justify-content: center;align-items: center;height: 100%;gap: 200px;margin-top: 53px;letter-spacing: 3px;}
#section2 .text p {width: 764px;height: 36px;font-size: 23px;color: #fff;word-break: keep-all;text-align: center;font-family: 'Pretendard-SemiBold';}
#section2 .text b {color: #1d3500;font-family:'Pretendard-Bold';}



#section3 .cont {display: flex;gap: 25px;flex-wrap: wrap;}
#section3 li {width: 500px;height: 350px;background: #000;margin-top: 30px;position: relative;}

#section3 li .content {position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0, 26, 63,0.6);color: #fff;display: flex;
    justify-content: center;align-items: center;flex-direction: column;}
#section3 li .content em {font-size: 48px;font-style: normal;}
#section3 li {overflow: hidden;}
#section3 li img {transition: 0.3s;}
#section3 li:hover img {transform: scale(1.1);}

#section3 .cont li .content a {color: #267af3;padding: 13px;background: #fff;font-size: 20px;margin-top: 30px;}

/*#section1 .cont li .content a {color: #267af3 ;padding: 13px;background: #fff;font-size: 20px;display: inline-block;opacity: 0;transition: 0.3s;}*/


/*footer*/
.sq{ width: 100%;height: 300px;  }

footer .sq ul {width: 1550px;height: 50px;margin-left: 70px;margin-top: 30px ;display: flex;margin: auto;}
footer .sq ul li{width: 200px;height: 50px;text-align: center;}
footer .sq ul li a {line-height: 50px;}

footer .sq ul.merong {border-bottom: 2px solid #000000}


footer ul.fs {width: 657px;height: 183px;margin-left:285px;}
footer ul.fs h1 {width: 107px;height: 183px;}
footer ul.fs h1 img {margin-top: 55px;margin-left: 20px;}
footer ul.fs li {width: 551px;height: 183px;margin-top: 10px;}
footer ul.fs li p {line-height: 30px;float: left;}





/*sub page*/

#visual_sub {height: 550px;background: url(../images/sub_main01.png) center top; 
    background-attachment:fixed; background-size: cover;}

#visual_sub .textbox {width: 712px;height: 467px;position: absolute;left: 38%;top: 56%;transform:translate(-25%,-90%);
    word-break: keep-all;} /*word-break: keep-all 띄어쓰기 해줌*/
#visual_sub .textbox strong {font-size: 50px;font-weight: 900;font-family:'SBAggroB' ;color: #fff;}
#visual_sub .textbox p {font-size: 20px; color: #fff;font-family:'Pretendard-Medium' ;line-height: 40px;margin-top: 30px;}



#section_sub .sub_box {text-align: center;margin-bottom: 20px;}

#section_sub {padding: 90px 0 200px 0;}
#section_sub .centerbox h2{height: 55px;margin-bottom: 50px;font-size: 60px;text-align: center;color: #4d5d79}
#section_sub .snb {height: 60px;background: #4d5d79;display: inline-flex;justify-content: center;padding: 0 130px;}

#section_sub .snb li {font-size: 25px;height: 60px;line-height: 50px;}

#section_sub .snb ul li::before {content: "";position: absolute;width: 1px;height: 12px; ;background:rgba(255, 255, 255, 0.3);right: 0;
    top: 50%;transform:translateY(-50px);}

#section_sub .snb li:last-child::before{display: none;}

#section_sub .snb  li a {color: #fff;padding: 0 30px;display: block;}
#section_sub .snb  li:hover {background: thistle ;}
#section_sub .snb  li:hover a {color: #f3e926;}
#section_sub .snb  li.on a {color: #82b6ff;font-weight: bold;}

#section_sub h3 {font-size: 40px;text-align: center;margin-bottom: 70px;margin-top: 80px;font-family:'Pretendard-Regular' ;margin: auto;}


#section_sub article {display: flex;gap: 70px;justify-content: center;}
#section_sub article figure {width: 627px;height: 480px;}
#section_sub article .content {width: 627px;height: 480px;}
#section_sub article .content p {font-size: 22px;line-height: 40px;margin-bottom: 1.5em;word-break: keep-all;font-family:'Pretendard-Medium' ;}



/*sub page 02*/
#visual_sub2 {height: 550px;background: url(../images/sub_main02.png     ) center top; 
    background-attachment:fixed; background-size: cover;}

#visual_sub2 .textbox {width: 712px;height: 467px;position: absolute;left: 38%;top: 56%;transform:translate(-25%,-90%);
    word-break: keep-all;} /*word-break: keep-all 띄어쓰기 해줌*/
#visual_sub2 .textbox strong {font-size: 50px;font-weight: 900;font-family:'SBAggroB' ;color: #fff;}
#visual_sub2 .textbox p {font-size: 20px; color: #fff;font-family:'Pretendard-Medium' ;line-height: 40px;margin-top: 30px;}


#section_sub .sell {width: 1362px;height: 300px;display: flex;flex-direction: row;gap: 30px;margin: 0 auto;margin-top: 100px; }
#section_sub .title {width: 550px;height: 300px;line-height: 30px;margin: auto;}
#section_sub .title ul {width: 534px;height: 47px;color: #222;font-size: 25px;font-family: 'Pretendard-Regular';}
#section_sub .title ul span {display: inline-block; color: #ffa200;}



#section_sub .title ul li {width: 681px;height: 200px;margin-top: 25px;color: #222;font-size: 20px;font-family:'Pretendard-Light';}
#section_sub .title2 {width: 650px;height: 300px;line-height: 30px;}
#section_sub .title2 ul li {width: 660px;height: 200px;margin-top: 56px;color: #222;font-size: 20px;font-family:'Pretendard-Light'}



/*sub page 03*/

#section_sub article .history {display: flex;gap: 70px;justify-content: center;}
#section_sub article .history figure {width: 627px;height: 480px;}
#section_sub article .history .content {width: 627px;height: 480px;}
#section_sub article .history .content p {font-size: 22px;line-height: 40px;margin-bottom: 1.5em;word-break: keep-all;font-family:'Pretendard-Medium' ;}




